html {
    scroll-behavior: smooth !important;
}



/* animation
====================== */
/* animated css 
----------------------- */
/* All delay classes will take half the time to start */
/* Custom delay classes */
.animate__delay-0-2s {
    animation-delay: 0.2s;
}

.animate__delay-0-5s {
    animation-delay: 0.5s;
}

.animate__delay-0-8s {
    animation-delay: 0.8s;
}