






html {
    scroll-behavior: smooth !important;
}



/* animation
====================== */
/* animated css 
----------------------- */
/* All delay classes will take half the time to start */
:root {
    --animate-delay-1s: 0s;
    --animate-delay-2s: 0.1s;
    /* animate__delay-2s */
  }


